{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zzimba Africa</title>
    <link rel="stylesheet" type="text/css" href="{% static './styles/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static './styles/css/bootstrap.min.css' %}">
</head>

<body>
    <header class="container">
       <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
            <!--tips: to change the nav placement use .fixed-top,.fixed-bottom,.sticky-top-->
            <img src="{% static './images/bagde.jpg' %}" alt="bagdge" class="img-fluid" height="50" width="85">
            <!--<a class="navbar-brand" href="#">
                <img src="..." class="d-inline-block align-top" width="30" height="30" alt="...">My Brand
            </a>-->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#about">About Us<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#services">Services<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="#contact">Contact Info<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% block content %}
    
    {% endblock %}
        <div class="container" style="color: grey;" id="footer" >
            <div class="row">
                <div class="col-md-4">
                    <h4 name="about">About Us</h4>
                    <p>We are an online platform that offers an equal opportunity to all businesses to grow and develop with an easy way to interact with their customers.
                    We also avail many other services to satisfy your daily needs.</p>
                </div>
                <div class="col-md-4" >
                    <h4 name="services">Services</h4>
                    <ul>
                        <li>Interior Designing</li>
                        <li>IT services</li>
                        <li>Construction and hardware</li>
                        <li>Sales and resale</li>
                        <li>Sale of merchandise</li>
                        <li>Carpentry and furniture</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h4 name="contact">Contact</h4>
                    africazzimba@gmail.com<br>
                    Tel:<br>
                    <li>+256 781479021</li>
                    <li>+256 758019617</li>
                    <form style="align-content: center; margin-left: 20px;">
                        <a href="mailto:africazzimba@gmail.com"> Mail to us</a>
                    </form>
                </div>
            </div>
        </div>
    <script src="{% static './styles/js/jquery.js' %}"></script>
    <script src="{% static './styles/js/bootstrap.min.js' %}"></script>
</body>
<footer><h6 style="font-style: italic; align-content: center; text-align: center; font-size: 10px;">Designed by AaronLeon</h6></footer>
</html>